@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Syra</h1>
    <p>Share Your Resource Around</p>
    <a href="https://github.com/ensc-glog/projet-2021-syra_gr4"><img src="images/shared-resource(1).png" width="35%"/></a>
</div>
